<nav class="navbar navbar-expand-lg bg-dark flex-column">
    <div class="container py-1 ">
        <div class="container-fluid d-flex justify-content-between">
            <a class="navbar-brand text-bg-dark" href="/products">E-commerce - Tu tienda online</a>
        </div>
    </div>
</nav>
<div class="container my-3 py-3">
    <div class="container-sm bg-body-secondary p-3" style="border-radius: 20px;">
        <h1>Password Recovery Request</h1>
        <p>You will receive a link to recover your password to the email you specify, the link will expire in one hour!</p>
        <form action="/session/sendMail" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>    
    </div>
</div>